.sidemenu{
    background: #8aa9c2;
width: 250px;
height: 500px;
display: flex;
justify-content: center;
position: absolute;
top: 140px;
/*left: ${({ sidebar }) => (sidebar ? '0' : '-100%')};*/
transition: 350ms;
z-index: 10;
}